{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

   <h3>The route for this page triggers some flash messages... </h3>

{% endblock %}

