{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
  
  {% if session['is_admin'] %}
    <section>
      <h2>Requests:</h2>
      {% for request in requests %}
        <button onclick="window.location.href='/request/resolve/{{ request.u_id }}/{{ request.w_id }}';" >{{ request.first_name }} -- {{ request.date }}</button>
      {% else %}
        <h4>None!</h4>
      {% endfor %}

      <button onclick="window.location.href='/roster';" >see full roster</button>
      <button onclick="window.location.href='/roster/create';" >roster creation</button>
      <button onclick="window.location.href='/logout';" >logout</button>
    </section>

  {% elif session["logged_in"] %}
    <div class="content-container">
      <section id="weeks">
            <h3>Your Weeks</h3>
        {% for week in session["user"]["weeks"] %}
          <div class="week">
            <header>
              <h3>{{ week.date }}</h3>
            </header>

            <p>
              {% for instrument in week["instruments"] %}
                {% if instrument == "Worship Lead"%}
                  WL
                {% else %}
                  {{ instrument }}
                {% endif %}
              {% endfor %}
            </p>
            <button onclick="window.location.href='/week/{{ week.id }}';" >Details</button>
          </div>
        {% else %}
          No Weeks
        {% endfor %}
      </section>

      <section id="button-box">
        <button onclick="window.location.href='/logout';" >logout</button>
        <button onclick="window.location.href='/roster';" >see full roster</button>
        <button onclick="window.location.href='/unavailability';" >submit unavailability</button>
        <button onclick="window.location.href='/request/submit';" >submit a request</button>
      </section>
  </div>
  
  {% else %}

    <section class="background">
      <button onclick="window.location.href='/register';" >Register</button>
      <h4>Or</h4>
      <button onclick="window.location.href='/login';" >Sign In</button>
      <h6>Please Register or Sign In to Continue</h6>
    </section>
  {% endif %}
  

  {# <button onclick="window.location.href='/users/show';" >see users</button> #}

{% endblock %}

