{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

  <h2>Welcome User!!</h2>

  <button onclick="window.location.href='/register';" >Register</button>
  <h4>Or</h4>
  <button >Sign In</button>

  <button onclick="window.location.href='/users/show';" >see users</button>


{% endblock %}

