{#=====================================================
  Legal page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

  <section class="background">
    <h1>Legal info</h1>

    <h4>
      To comply with the New Zealand Privacy Act 2020, I gotta tell you how I'm storing and collecting your data. Pretty much, I'm
      collecting it to display the correct info required for the roster to work, and for people to be able to contact you if they need
      to do this. The only cookies used are functional ones, and you will not have any targeting cookies on this website (I hope).
      Anyways, hopefully thats enough to satisfy the law. Have fun using my app!
       
    </h4>
  </section>
  <button onclick="window.location.href='/';" >Back</button>


{% endblock %}

