{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

  <h2>Submit Request</h2>

  <section>
    
    
    <h2>Submit Request</h2>
      <form method="post" action="/request">
        <label>
          Select the date you want to change:
          {% for week in weeks %}
            <label><input type="radio" name="week" value="{{ week.id }}"></label>{{ week.date }}<br>
          {% endfor %}
        </label>
        <label>
          Message
          <input type="text" name="message">
        </label>

        <button>Submit</button>
      </form>

    </section>
    <button onclick="window.location.href='/';">Back</button>

  </section>

{% endblock %}

