{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>User List</h2>

    <section id="roster">

        <table>
            <thead>
                <tr>
                    {% for week in weeks %}
                        <th>
                            {{ week.date }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in instruments %}
                    <td>
                        {{ instrument.name }}
                    </td>
                    {% for instrument in roster %}
                        <td>
                            {{ instrument.u_fname }}
                        </td>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}

