{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Roster</h2>

    <section>

        <table id="roster">
            <thead>
                <tr>
                    <th></th>
                    {% for week in weeks %}
                        <th class"date_cell">
                            {{ week.date }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for instrument in instruments %}
                    <tr>
                        <td class"instrument_cell">
                            {{ instrument.name }}
                        </td>
                        {% for week in roster %}
                            {% if week.i_id == instrument.id %}
                                <td class"user_cell">
                                    {{ week.u_fname }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
    <button onclick="window.location.href='/';">Back</button>

{% endblock %}

