{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Select Unavailability</h2>

      <label>
        Select the dates you are unavailable for:
        {% for week in weeks %}
          <label><input type="checkbox" name="week" value="{{ week.w_id }}"></label>{{ week.date }}<br>
        {% endfor %}
      </label>

      <button>Submit</button>

    </form>

    </section>
    <button onclick="window.location.href='/';">Back</button>

{% endblock %}

