{#=====================================================
  Individual week page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>{{ week_data.date }}</h2>

    <section>

        <h3>{{ week_data.practice_date }}</h3>
        <table id="roster">
            <tbody>
                {% for instrument in instruments %}
                    <tr>
                        <td class"instrument_cell">
                            {{ instrument.name }}
                        </td>
                        {% for i in week %}
                            {% if i.i_id == instrument.id %}
                                <td class"user_cell">
                                    {{ i.u_fname }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Attatchments</h2>
        {% if worship_leader['user_id'] == session['user']['id'] %}
            <form method="post" action="/newfile/week/{{ week_id }}" enctype="multipart/form-data">
    
                <label>
                    New File
                    <input
                        name="file"
                        type="file"
                        accept=".pdf, .docx, .txt"
                        required
                    >
                </label>

                <button>Add New File</button>
                </form>
        {% endif %}
        {% for file in files %}
            <a href="/static/uploads/{{ file.filename }}" download> {{ file.filename }}</a><br>
        {% else %}
            <h5>No files yet!</h5>
        {% endfor %}

    </section>
    <button onclick="window.location.href='/';">Back</button>

{% endblock %}

