/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --primary-color: #688ca0;
    --seccondary-color: #79abc7;
    --accent-color: #9ebccd;

    --primary-color-light: color-mix(in srgb, var(--primary-color), #fff 20%);
    --primary-color-lighter: color-mix(in srgb, var(--primary-color), #fff 50%);
    --primary-color-dark: color-mix(in srgb, var(--primary-color), #000 25%);
    --primary-color-darker: color-mix(in srgb, var(--primary-color), #000 50%);

    --text-color: #000;
    --inv-text-color: #fff;


    --page-bg: var(--primary-color);
    --panel-bg: var(--base-color-light);

    --link-color: var(--accent-color);
    --button-bg: var(--accent-color);
    --button-color: var(--text-color);
    --link-color: var(--accent-color);


    --padding: 1rem;
    --padding-sm: 0.5rem;
    --padding-lr: 2rem;

    --gap: 1rem;
    --gap-sm: 0.5rem;
    --gap-lr: 2rem;

    --margin: 1rem;
    --margin-sm: 0.5rem;
    --margin-lr: 2rem;


    --content-width: 60rem;
    --content-width-sm: 30rem;
    --content-width-lr: 90rem;

    --button-width: 10rem;
    --button-width-sm: 7rem;
    --button-width-lr: 13rem;

    --button-height: 3rem;
    --button-width-sm: 1rem;
    --button-width-lr: 5rem;

    --font-size: 1rem;
    --font-size-sm: 0.5rem;
    --font-size-lr: 2rem;

    --border-radius: 3rem;
    --border-radius-sm: 1rem;
    --border-radius-lr: 5rem;




}



/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--page-bg);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--seccondary-color);
    border-radius: var(--border-radius-sm);

    .nav_img {
        height: 4rem;
        width: 4rem;
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}

/* Sections ---------------------------------------------- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        margin-top: var(--margin-sm);
    }
}

/* Home page container ----------------------------------- */

.content-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Weeks --------------------------------------------------*/

#weeks {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    background-color: var(--seccondary-color);
    border-radius: var(--border-radius-sm);
    align-items: center;
    margin: var(--margin-sm);

    .week {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding-sm);

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        footer {
            font-size: 0.8rem;
            font-style: italic;
        }

        button {
            width: fit-content;
        }
    }
}

/* Background --------------------------------------------- */

.background{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: var(--border-radius);
    height: 70vh;
    background-color: var(--seccondary-color);
    padding: var(--padding-sm);

    button {
        height: auto;
        margin: var(--margin);
    }

}

/* Button Container ----------------------------------------*/

.button-box {
    width: 100%;
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    background-color: var(--seccondary-color);
    border-radius: var(--border-radius-sm);
    align-items: center;
    padding: var(--padding);
    margin-top: var(--margin);

    
}

/* Roster Table -------------------------------------------*/

#roster {
    border: 1px solid;
    border-collapse: collapse;

    th {
        border: 1px solid;
    }

    td {
        border: 1px solid;
    }

}

/* Buttons------------------------------------------------- */

button {
        width: 90%;
        height: 100%;
        padding: var(--padding-sm);
        background-color: var(--button-bg);
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--primary-color-dark);
    }

/* form --------------------------------------------------*/ 

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    background-color: var(--seccondary-color);
    border-radius: var(--border-radius-sm);
    align-items: center;
    justify-content: center;

    max-width: var(--content-width-sm);
    margin-inline: auto;
    padding: var(--padding);

}

